<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h1 style=color:Tomato;>Blog personal</h1>
    <h2>Listas de Publicaciones</h2>
    <h3>Categorias</h3>
    <h4>Etiquetas</h4>
</body>
<style>
    body{
        background-color: antiquewhite;
    }
    h1{
        
        text-align: center;  
    }
    h2{
        text-align:right;
      
    }
    h3{
        text-align:right;
        font-size:30px;
    }
    h4{
        text-align:right;
        font-size :30px;
    }

</style>

</html>